body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
nav ul {
    padding: 200000000;
}

nav ul li {
  display: inline;
  margin: 5px;
}
ol, ul {
  padding-left: 30px;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

